<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <!--interface-->
    <add key="Site" value="false" />
    <add key="SiteTitle" value="DanDanTang" />
	<add key="LoginKey" value="QY-16-WAN-0668-2555555-7ROAD-dandantang-trminhpc773377" />
	<add key="LoginKey_a" value="aaaa-16-WAN-0668-2555555-7ROAD-dandantang-trminhpc7733777" />
    <add key="LoginUrl" value="http://127.0.0.1/request/CreateLogin.aspx" />
    <add key="LoginOnUrl" value="http://127.0.0.1/index.htm?open=self" />
    <add key="FlashUrl" value="http://127.0.0.1/playgame.aspx" />
    <add key="FlashConfig" value="http://127.0.0.1/flash/config.xml" />
    <add key="FlashSite" value="http://127.0.0.1/flash/" />
    <add key="LoginSessionTimeOut" value="60" />
    <add key="ActiveIP" value="127.0.0.1" />
    <add key="membershipDb" value="Data Source=KHANHDUY\SQLEXPRESS;Initial Catalog=Db_Membership;Persist Security Info=True;User ID=sa;Password=abc@123" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6" />
      </system.Web>
  -->
  <system.web>
    <sessionState timeout="45" />
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.6" />
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows" />
    <customErrors mode="Off" defaultRedirect="Error.htm">
      <error statusCode="403" redirect="AccessError.htm" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
    <system.webServer>
        <staticContent>
            <mimeMap fileExtension=".ui" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
</configuration>